<% content_for :title do %>About<% end %>
<h3>About George Micro</h3>
<p>He was born in Nanjing, China. He left China for the United States,
   excelled at the Purdue University.
   </p>
 <p>His favorite quotation is(not really):</p>
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   tempor incididunt ut labore et dolore magna aliqua.</p>
