<li class="has-dropdown">
  <a href="#"><%= t(:languages) %></a>
  <ul class="dropdown">
    <li><%= link_to t(:chinese), params.merge(locale: 'zh-CN')  %></li>
    <li><%= link_to t(:english), params.merge(locale: 'en')  %></li>
  </ul>
</li>
