<%# add navigation links to this file %>
<li><%= link_to t(:about), page_path('about') %></li>
<li><%= link_to t(:contact), new_contact_path %></li>
<li><%= link_to t(:chinese), root_path(:locale => 'zh-CN') %></li>
<li><%= link_to t(:english), root_path(:locale => 'en') %></li>
